<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/Login.css">
    <script src="../app/LoginController.js"></script>

    <title>Login</title>
</head>
<body class="BODY-ALL">
    <div className="login-wrapper">
        <h1>Please Log In</h1>
        <form >
          <label>
            <p>Username</p>
            <input type="text" id="username"/>
          </label>
          <label>
            <p>Password</p>          
            <input type="password" id="pass"/>
          </label>
          <div>
            <br/>
            <button type="button" onclick="getUserData()">Submit</button>                  
          </div>    
          <label id="UserNotFound">USUARIO NO VALIDO</label>           
        </form>
        <br/>
        <br/>      
        <div>
            <button onClick = {getData}>getData</button>
        </div>
      </div>
</body>
</html>